<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-item mx-auto">
    <div>
      <%= link_to "Upload", new_image_path, class: "button is-primary" %>
    </div>
    <div>
      <%= search_field_tag "Search", "search", class: "input is-normal" %>
    </div>
  </div>
</nav>
<div class="section">
  <div class="columns is-mobile is-multiline is-variable is-col-min-10 is-centered is-gap-3">
    <%= render @images %>
  </div>
</div>
